<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//s3-eu-west-1.amazonaws.com/fucking-eu-cookies/cz.js" async></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/js-cookie-master/src/js.cookie.js') }}"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <link rel="shortcut icon" href={{ url_for('static', filename='images/eventhink.png') }}>
    <meta charset="UTF-8">
    <title>Eventhing</title>
</head>
